.userAction {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    height: 14rem;
    white-space: nowrap;
  }
  .userAction ul{
    padding-left: 10px;
  }
  .userActionTable{
    max-height: 45%;
    overflow-y: auto;
  }