.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #ecf0f1;
}

.dashboard-header {
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
  padding: 0 6%;
}

.dashboard-content {
  display: flex;
  flex: 1;
  margin-top: 70px;
  justify-content: center;
}

.dashboard-sidebar {
  background-color: #fff;
  color: #333;
  width: 200px;
  padding: 20px;
  transition: width 0.3s ease;
  position: fixed;
  top: 60px;
  left: 0;
  /* height: calc(100vh - 60px); */
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
}

.dashboard-sidebar.collapsed {
  top: 86px;
  width: 60px;
  height: 60px; 
}

.dashboard-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-sidebar ul li {
  padding: 10px 0;
  border-radius: 10px;
}

.dashboard-sidebar .menu-toggle-btn {
  background-color: #fff;
  color: #333;
  border: none;
  font-size: 20px;
  cursor: pointer;
  /* margin-bottom: 20px; */
}

.dashboard-sidebar.collapsed ul li {
  display: none;
  border-radius: 10px;
}

.dashboard-sidebar.collapsed .menu-toggle-btn {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dashboard-sidebar .menu-toggle-btn i {
  font-size: 30px;
}

.dashboard-main {
  flex: 1;
  background-color: #ecf0f1;
  margin: 0 6%;
  transition: margin-left 0.3s ease;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.dashboard-main .row {
  display: flex;
}
.dashboard-main .row {
  margin: 10px;
}
.dashboard-main .row > div {
  padding: 10px;
}
.userInfo{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 14rem;
  white-space: nowrap;
}
.row2{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 8rem;
  /* text-align: center; */
}
.userAction{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 14rem;
  max-width: 100%; 
  overflow-x: auto;
}
.dashboard-main.sidebar-collapsed {
  margin-left: 60px;
  border-radius: 10px;
}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #c0392b;
}

.details-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.details-link:hover {
  color: darkblue;
}
p{
  margin: 5px !important;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.block:hover {
  background-color: #eef5ff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.block:hover .organization-icon {
  transform: scale(1.2);
}
.block p {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}
.block:hover {
  background-color: #eef5ff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.organization-icon {
  font-size: 2rem;
  color: #4caf50;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.badge-icon {
  font-size: 2rem;
  color: #ffc107;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.titles-icon {
  font-size: 2rem;
  color: #6F42C1;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.mission-icon {
  font-size: 2rem;
  color: #007BFF;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.gift-icon {
  font-size: 2rem;
  color: #ff5733;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.shop-icon {
  font-size: 2rem;
  color: #555555;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.ranking{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 14rem;
  white-space: nowrap;
  overflow: hidden;
}
.ranking-list {
  max-height: calc(100% - 40px);  /* Giới hạn chiều cao của danh sách */
  overflow-y: auto;   /* Kích hoạt cuộn dọc khi chiều cao vượt quá */
  padding-right: 5px; /* Thêm khoảng cách cho thanh cuộn */
}

.ranking ul {
  list-style-type: none;
  padding: 0;
}

.ranking li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  font-size: 16px;
}

.ranking li span {
  display: inline-block;
}
.listActicityType{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 14rem;
  white-space: nowrap;
}
.listActicityTypeTable{
  border: 1px;
  border-radius: 10px;
  max-height: calc(100% - 40px);  /* Giới hạn chiều cao của danh sách */
  overflow-y: auto;   /* Kích hoạt cuộn dọc khi chiều cao vượt quá */
  padding-right: 0px; /* Thêm khoảng cách cho thanh cuộn */
}
.listActicityType ul{
  padding: 0px;
  margin: 0px;
}
.activityTypeRow {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.activityTypeRow span {
  flex: 1;
  text-align: left;
}

.activityTypeRow span:last-child {
  text-align: right;
}

.activityTypeRow.even {
  background-color: #e9ecef; /* Màu trắng cho hàng chẵn */
}

.activityTypeRow.odd {
  background-color: #f9f9f999; /* Màu xám nhẹ cho hàng lẻ */
}

.activityTypeRow:last-child {
  border-bottom: none;
}
