/* Container của toàn bộ form */
.user-details-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tiêu đề */
.user-details-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Phần ảnh đại diện */
.avatar-section {
  text-align: center;
  margin-bottom: 20px;
}

.avatar-container {
  position: relative;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.avatar-input {
  display: block;
  margin-top: 10px;
  text-align: center;
}

/* Phần nhập thông tin */
.input-section {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.textarea {
  height: 100px;
}

/* Nút lưu */
.save-button-container {
  text-align: center;
}

.save-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #45a049;
}

.save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Thêm vào file Organizations.css */
.organization-card-link {
  text-decoration: none; /* Loại bỏ gạch chân */
  color: inherit; /* Giữ màu sắc hiện tại */
}

.organization-card {
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer; /* Con trỏ khi người dùng hover vào */
  transition: transform 0.2s ease; /* Thêm hiệu ứng khi hover */
}

.organization-card:hover {
  transform: scale(1.05); /* Phóng to khi hover */
  background-color: #f5f5f5; /* Thay đổi nền khi hover */
}
