p {
  margin: 5px !important;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #ecf0f1;
  overflow-y: auto;
}
.dashboard-header {
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
  padding: 0 6%;
}

.dashboard-content {
  display: flex;
  flex: 1;
  margin-top: 70px;
  justify-content: center;
}

.dashboard-sidebar {
  background-color: #fff;
  color: #333;
  width: 200px;
  padding: 20px;
  transition: width 0.3s ease;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
}

.dashboard-sidebar.collapsed {
  top: 86px;
  width: 60px;
  height: 60px;
}

.dashboard-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-sidebar ul li {
  padding: 10px 0;
  border-radius: 10px;
}

.dashboard-sidebar .menu-toggle-btn {
  background-color: #fff;
  color: #333;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dashboard-sidebar.collapsed ul li {
  display: none;
  border-radius: 10px;
}

.dashboard-sidebar.collapsed .menu-toggle-btn {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dashboard-sidebar .menu-toggle-btn i {
  font-size: 30px;
}

.dashboard-main {
  flex: 1;
  background-color: #ecf0f1;
  margin: 0 6%;
  transition: margin-left 0.3s ease;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.dashboard-main .row {
  display: flex;
}
.dashboard-main .row {
  margin: 10px;
}
.dashboard-main .row > div {
  padding: 10px;
}
.userInfo {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 14rem;
  white-space: nowrap;
}
.row2 {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 8rem;
}
.userAction {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 14rem;
  white-space: nowrap;
}
.userAction ul{
  padding-left: 10px;
}
.userActionTable{
  max-height: 45%;
  overflow-y: auto;
}
.dashboard-main.sidebar-collapsed {
  margin-left: 60px;
  border-radius: 10px;
}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #c0392b;
}

.details-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.details-link:hover {
  color: darkblue;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.block p {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  white-space: nowrap;
}
.block:hover {
  background-color: #eef5ff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.block:hover .organization-icon {
  transform: scale(1.2);
}
.block:hover .badge-icon {
  transform: scale(1.2);
}
.block:hover .titles-icon {
  transform: scale(1.2);
}
.block:hover .mission-icon {
  transform: scale(1.2);
}
.block:hover .gift-icon {
  transform: scale(1.2);
}
.block:hover .shop-icon {
  transform: scale(1.2);
}
.organization-icon {
  font-size: 2rem;
  color: #cc66cc;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.badge-icon {
  font-size: 2rem;
  color: #ffc107;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.titles-icon {
  font-size: 2rem;
  color: #6f42c1;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.mission-icon {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.gift-icon {
  font-size: 2rem;
  color: #ff5733;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.shop-icon {
  font-size: 2rem;
  color: #555555;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.ranking {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 14rem;
  white-space: nowrap;
  overflow: hidden;
}
.ranking-list {
  max-height: calc(100% - 40px); /* Giới hạn chiều cao của danh sách */
  overflow-y: auto; /* Kích hoạt cuộn dọc khi chiều cao vượt quá */
  padding-right: 5px; /* Thêm khoảng cách cho thanh cuộn */
}

.ranking ul {
  list-style-type: none;
  padding: 0;
}

.ranking li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  font-size: 16px;
}

.ranking li span {
  display: inline-block;
}
.listActicityType {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 14rem;
}
.listActicityTypeTable {
  border: 1px;
  border-radius: 10px;
  max-height: calc(100% - 40px); /* Giới hạn chiều cao của danh sách */
  overflow-y: auto; /* Kích hoạt cuộn dọc khi chiều cao vượt quá */
  padding-right: 0px; /* Thêm khoảng cách cho thanh cuộn */
}
.listActicityType ul {
  padding: 0px;
  margin: 0px;
}
.activityTypeRow {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.activityTypeRow span {
  flex: 1;
  text-align: left;
}

.activityTypeRow span:last-child {
  text-align: right;
}

.activityTypeRow.even {
  background-color: #e9ecef; /* Màu trắng cho hàng chẵn */
}

.activityTypeRow.odd {
  background-color: #f9f9f999; /* Màu xám nhẹ cho hàng lẻ */
}

.activityTypeRow:last-child {
  border-bottom: none;
}
.progressLevel {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 14rem;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.doughnut-chart {
  align-self: center;
  max-width: 10rem !important;
  max-height: 10rem !important;
  text-align: center;
  display: block;
}
@media (max-width: 1200px) {
  @media (max-width: 1045px) {
    .dashboard-main .row-1 {
      flex-direction: column; /* Sắp xếp theo chiều dọc */
    }

    .dashboard-main .row-1 > .col-7,
    .dashboard-main .row-1 > .col-5 {
      width: 100%;
      margin-bottom: 10px;
    }
    .dashboard-main .row-2 {
      display: flex;
      flex-wrap: wrap; /* Cho phép các khối tự động xuống hàng */
      justify-content: space-between;
    }
    .dashboard-main .row-2 > .col-2 {
      width: calc(33.333% - 10px);
      margin-bottom: 10px;
    }
    @media (max-width: 990px) {
      .dashboard-main .row-3 {
        flex-direction: row;
      }
      .dashboard-main .row-3 > .col-5 {
        width: 100%;
      }
      .dashboard-main .row-3 > .col-4,
      .dashboard-main .row-3 > .col-3 {
        width: 50%;
      }
      @media (max-width: 700px) {
        .dashboard-main .row-3 {
          flex-direction: row;
        }
        .dashboard-main .row-3 > .col-5,
        .dashboard-main .row-3 > .col-4,
        .dashboard-main .row-3 > .col-3 {
          width: 100%;
        }
        @media (max-width: 570px) {
          .dashboard-main .row-1 .userInfo {
            height: 26rem;
          }
          .dashboard-main .row-1 .userInfo p {
            width: 100%;
          }
          .dashboard-main .row-1 .userInfo > .row {
            white-space: normal;
          }
          .dashboard-main .row-1 .userInfo > .row > .col-3 {
            width: 100%;
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            justify-content: flex-start; 
            text-align: center;
          }
          .dashboard-main .row-1 .userInfo > .row > .col-6,
          .dashboard-main .row-1 .userInfo > .row > .col-2 {
            width: 50%;
          }
          .dashboard-main .row-2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }
          .dashboard-main .row-2 > .col-2 {
            width: calc(50% - 10px);
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.hamburger-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  right: 150px;
}

.hamburger-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.hamburger-btn:hover {
  color: #007bff;
}

.logout-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px;  
}

.logout-btn,
.details-btn {
  width: 100%;
  background-color: #dc3545;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-btn:hover {
  background-color: #c82333;
}

.details-btn {
  background-color: #007bff;
}

.details-btn:hover {
  background-color: #0056b3;
}

.show-logout {
  display: block;
}
.style-wirting {
  color: #531414;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}
